extends layout
block content
  .col-md-6(ng-controller="TabsAccounts")
    div( ng-if="!isLoggedIn()")
      tabset
        tab(heading="Login")
          br
          form#login(ng-submit="loginForm.$valid && loginHandler(login)", autocomplete="off", name="loginForm")
            .form-group
              label.control-label Email
              input(type="text", required="" ng-model="login.email", name="email",  class="form-control")
            .form-group
              label.control-label Password
              input(type="password", required="" ng-model="login.password", name="password" , class="form-control")
            .form-group
              input.btn.btn-default(type="submit")
        tab(heading="Signup/Register")
          br
          form#signup(ng-submit="signupForm.$valid && signupHandler(signup)", autocomplete="off", name="signupForm")
            .form-group
              label.control-label Email
              input(type="email", email-available-validator="" required="", ng-model="signup.email", ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"  , name="email" class="form-control")
              div(ng-if="signupForm.email.$pending")
                Validating Email...
            .form-group
              label.control-label Password
              input(type="password", required="",  ng-model="signup.password" , name="passwordInputField" class="form-control")
            .form-group
              label.control-label Password Confirmation
              input(type="password", required="", ng-model="signup.passwordConfirm", passwords-match="passwordInputField" name="passwordConfirm" class="form-control")
            .form-group
              input.btn.btn-default(type="submit")
        tab(heading="Reset Password")
          br
          form#reset(ng-submit="resetHandler(reset.email)", ng-show="!resetted")
            .form-group
              label.control-label What email did you use?
              input(type="email", email-available-validator="" required="", ng-model="reset.email", ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"  , name="email" class="form-control")
            .form-group
              input.btn.btn-default(type="submit")
          h1(ng-show="resetted") You will be emailed a reset code in a few moments.
        tab(heading="Social Logins")
          div(ng-controller="OauthAccount")
            .row
               .col-md-12
                button.btn.btn-default(ng-click="twitterLogin()") Twitter Login
            .row
              .col-md-12
                button.btn.btn-default(ng-click="facebookLogin()") Facebook Login
    div(ng-if="isLoggedIn()")
      h1 You are now logged in
      button.btn.btn-default(ng-click="logout()") logout


