extends reset-layout
block content
  div(ng-controller="ResetCtrl")
    form#reset(ng-submit="submitReset(reset.password, reset.reset_code)")
      div(ng-if="!submitted")
        input(type="hidden", ng-model="reset.reset_code" value="#{reset_code}")
        .form-group
          label.control-label New Password
          input(type="password", required="" ng-model="reset.password", name="password" , class="form-control")
        .form-group
          input.btn.btn-default(type="submit")
      div(ng-if="submitted")
        a(href="/") Password reset, return to login.




