doctype html
html(lang="en" ng-app="app")
  head
    title= pageTitle
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  body
    noscript This page requires javascript to run properly
    .container
      .row
        .col-md-12
          .page-header
            h1 Reset your passowrd
            h2
              small  please put in your new password
      .row
        block content
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-cookies.js")
    script(type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js")
    script(type="text/javascript" src="//rawgit.com/Ciul/angular-facebook/v0.2.3/lib/angular-facebook.js")
    script(type="text/javascript" src="/static/js/reset.js")
        




